@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}
                        /* nav start */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 190px;
    padding: 0px;
}
nav li{
    text-decoration: none;
    list-style: none;
    gap: 44px;
    padding: 10px;

}
.nav-home{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.naver-li{
    color:  #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.logo{
    display: flex;
    margin-left: 0px;
}
.logo-name{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 17px;
    margin-top: 52px;
}
.logo-span{
    color: #FF5400;
}
.logo-pic{
    width: 48px;
    height: 56.008px;
    margin-top: 52px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 63px;
    margin-right: 0px;
    
    
}
                        /* banner start */
.banner-part{
    max-width: 1170px;
    width: 100%;
    height: 500px; 
    background-image: linear-gradient(to bottom,#070211, #07021100), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
    text-align: center;
}
.banner-h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 106px;
    padding-bottom: 24px;
}
.banner-p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}
.input-part{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-top: 48px;
}
#inp{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 16px 34px 16px 34px;
    gap: 8px;
}
#inp-btn{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 34px 16px 34px;
    gap: 8px;
    cursor: pointer;

}
#where{
    background: #fff;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    border: none;
    text-align: left;
    color: rgba(19, 19, 24, 0.50);
    padding: 16px 84px 16px 16px;
}
                            /* popular part */
.popular-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    height: 500px; 
    margin: auto;
    margin-top: 100px;


}
.popular-img{
    width: 540px;
    height: 550px;
    margin-left: 55px;
}

.popular-h2{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}
.popular-p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}
.popular-btn{
    width: 174px;
    height: 52px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
}