@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish';
}
                        /* nav start */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 190px;
    padding: 0px;
}
nav li{
    text-decoration: none;
    list-style: none;
    gap: 44px;
    padding: 10px;

}
.nav-home{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.naver-li{
    color:  #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.logo{
    display: flex;
    margin-left: 0px;
}
.logo-name{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 17px;
    margin-top: 52px;
}
.logo-span{
    color: #FF5400;
}
.logo-pic{
    width: 48px;
    height: 56.008px;
    margin-top: 52px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 63px;
    margin-right: 0px;
    
}
.menu-option{
    display: none;
}
                        /* banner start */
.banner-part{
    max-width: 1170px;
    width: 100%;
    height: 500px; 
    background-image: linear-gradient(to bottom,#070211, #07021100), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
    text-align: center;
}
.banner-h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 106px;
    padding-bottom: 24px;
}
.banner-p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}
.input-part{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-top: 48px;
}
#inp{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 16px 34px 16px 34px;
    gap: 8px;
}
#inp-btn{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 34px 16px 34px;
    gap: 8px;
    cursor: pointer;

}
#where{
    background: #fff;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    border: none;
    text-align: left;
    color: rgba(19, 19, 24, 0.50);
    padding: 16px 84px 16px 16px;
}
                            /* popular part */
.popular-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    height: 500px; 
    margin: auto;
    margin-top: 100px;


}
.popular-img{
    width: 540px;
    height: 550px;
    margin-left: 55px;
}

.popular-h2{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}
.popular-p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}
.popular-btn{
    width: 174px;
    height: 52px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}
                    /* Destination part */
.destination-txt{
    margin: auto;
    margin-top: 100px;

}
.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.destination-p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
.des-img-container{

    margin: auto;
    margin-left: 170px;
    margin-right: 190px;
    display: grid;
    justify-content: center;
   
}
.row1{
    display: grid;
    grid-template-columns: 580px 580px; 
    gap: 24px;
    margin-bottom: 24px;
   
}
.row2{
    display: grid;
    grid-template-columns: 375px 475px 275px;
    gap: 24px;
    margin-bottom: 24px;
}
.row3{
    display: grid;
    grid-template-columns: 475px 675px;
    gap: 24px;
}
                             /* why choose part */
  
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 135px;
    margin-right: 135px;
    gap: 24px;
}
.box1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px 55px 30px 30px;
    width: 573px;
}
.box2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px 55px 30px 30px;
    width: 573px;
}
.box1 > img{
    margin-bottom: 30px;
}
.box1 > h3{
    margin-bottom: 15px;
}
.box2 > img{
    margin-bottom: 30px;
}
.box2 > h3{
    margin-bottom: 15px;
}
.box3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px 55px 30px 30px;
    width: 573px;
    margin: auto;
    margin-top: 24px;
}
.box3 > img{
    margin-bottom: 30px;
}
.box3 > h3{
    margin-bottom: 15px;
}
                /* newsletter part */
.left-right{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    max-width: 1170px;
    position: relative;
    
}
.left{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    margin-right: 24px;
    
}
.left h3{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
  }
.left p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
  }
.left input{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 16px 250px 16px 20px;
    margin-bottom: 16px;
  }
.left button{
    width: 465px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
.right{
    width: 672px;
    height: 422px;
    
}

.right-seal{
        border-radius: 16px;
        background: #FF5400;width: 324px;
        height: 120px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        padding: 40px 25px 0px 25px;
        position: absolute;
        right: -10px;
        bottom: 50px;
}
.right-seal > h3{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    padding: 0px;
}
.right-seal > h1{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    padding: 0px;
}
                /* footer start */
 footer{
   
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
                }
 .footer-container{
    padding-top: 110px;
        }
#logo-footer{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
                }
    .logo-footer-pic{
        padding-right: 15px;
    }

     footer p{
        text-align: center;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        padding-top: 15px;
     }
     .social-logo{
        width: 100%;
        text-align: center;
        padding-top: 35px;
     }
     .reserved{
        margin-top: 100px;
        padding-bottom: 110px;
     }
    





                     /* mobile */
     @media screen and (max-width: 576px) {
                        /* nav */
nav{
    width: 500px;
    height: 64px;
    margin-left: 0px;
    margin-right: 0px;
    
    
}
.logo{
    margin-left: 20px;
}
.logo-pic{
    width: 28.724px;
    height: 33.516px;
   
}
.logo-name{
    font-size: 21.543px;
}
.menu{
    display: none;
}

            /* banner */
.banner-part{
    width: 380px;
    height: 483px;
    border-radius: 16px;
    margin-left: 20px;
    margin-right: 20px;
            }
.banner-h1{
    font-size: 22px;
    font-weight: 800;
    padding-top: 32px;
    border: 2px solid salmon;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.banner-p{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border: 2px solid salmon;
    margin-top: 0px;
}
.input-part{
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 80px;
    margin-left: 40px;
    border: 2px solid salmon;
}
#where{
    width: 255px;
    height: 52px;
    padding: 10;
}
#inp{
    width: 255px;
    height: 52px;
    padding: 10px;
}
#inp-btn{
    width: 255px;
    height: 52px;
    justify-content: center;
  
}

     }